
header {
    background-color: lightseagreen;
    color: #fff;
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/Sydney.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    color: white;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: lightseagreen; 
    border-color: blue;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.activity {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8b80a;
}
.activity:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.navbar {
    background-color: #073590;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid #ffc107;
}
.navbar-brand {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    letter-spacing: 0.05rem; 
}
.navbar-brand img {
    height: 80px;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.footer {
    background-color: #004085;
    color: white;
    padding: 10px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 3px solid #ffc107;
}
