
header {
    background-color: #073590;
    color: #fff;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('perth-background.jpeg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    color: #ffffff;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.993); 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.activity {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8b80a;
}
.activity:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
